<div id="<%= dom_id user %>">
  <div>
    <strong>Nombre completo:</strong>
    <%= user.full_name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= user.email %>
  </div>

  <div>
    <strong>Rol:</strong>
    <%= user.role.humanize %>
  </div>

</div>
