<div class="max-w-4xl mx-auto">
  <div class="flex items-center justify-between mb-8">
    <h1 class="text-3xl font-display font-bold text-mustard">Nueva Venta</h1>
    <%= link_to "Volver", admin_sales_path, class: "text-cream hover:text-mustard underline" %>
  </div>

  <%= render "form", sale: @sale %>
</div>
