<% content_for :title, "Ruby on Records" %>

<!-- Hero Section -->
<section class="hero-section">
  <div class="container">
    <%= image_tag "hero.png", alt: "Spin Your Story", class: "hero-image hero-main-image", style: "border-radius: 20px;" %>
  </div>
</section>

<!-- New Arrivals -->
<section style="margin-top: 3rem;">
  <div class="container">
    <h2>New Arrivals</h2>
    
    <div class="disk-grid">
      <% @disks.each do |disk| %>
        <%= render 'shared/disk_card', disk: disk %>
      <% end %>
    </div>
  </div>
</section>
