<p style="color: green"><%= notice %></p>

<% content_for :title, "Ruby on Records" %>

<main class="container-fluid">
  <h1>Storefront!</h1>

  <h3>New arrivals</h3>

  <div id="disks">
    <% @disks.each do |disk| %>
      <%= render disk %>

      <p><%= link_to "Show this disk", disk %></p>
    <% end %>
  </div>

  <%= link_to "New disk", new_disk_path %>
</main>
