<% content_for :title, "Editing used disk" %>

<h1>Editing used disk</h1>

<%= render "form", used_disk: @used_disk %>

<br>

<div>
  <%= link_to "Show this used disk", @used_disk %> |
  <%= link_to "Back to used disks", used_disks_path %>
</div>
