<% content_for :title, "Editing disk" %>

<h1>Editing disk</h1>

<%= render "form", disk: @disk %>

<br>

<div>
  <%= link_to "Show this disk", @disk %> |
  <%= link_to "Back to disks", disks_path %>
</div>
